VITE_APP_BASE=/app/
VITE_YTB_STANDALONE=true
VITE_YTB_SITE_URL=https://ytb.ddg.org.cn
VITE_YTB_API_BASE_URL=https://ytb.ddg.org.cn/api/ytb
VITE_YTB_LOGIN_URL=https://ytb.ddg.org.cn/app/#/ytb/login
VITE_YTB_REGISTER_URL=https://ytb.ddg.org.cn/app/#/ytb/register
